body{
    width: 1440px;
    height: 1440px;
}
img{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    border-radius: 2%;
    width: 43%;
}
h1{
    margin-left: 20%;
}
section{
    margin-left: 20%;
}
#first_span{
    color: hsl(30, 10%, 34%);
    font-family: Outfit;
    font-weight: 600;
}
hr{
    margin-left: 20%;
}
#Preparation_time{
    background-color: hsl(330, 100%, 98%);
    border-radius: 2%;
    width: 41.5%;
    height: 12%;
    padding-left: 1.7%;
    padding-top: 0.4%;
    line-height: 180%;
}
#first_ul{
    padding-left: 3.5%;
    color: hsl(332, 51%, 32%);
}
#first_list{
    padding-left: 2.4%;
}
#Preparation_time_title{
    color: hsl(332, 51%, 32%);
}
#second_span{
    color: hsl(30, 10%, 34%);
}
#Ingredients{
    line-height: 180%;
}
#second_ul{
    padding-left: 1.8%;
}
#second_list{
    padding-left: 1.1%;
}
h2{
    font-weight: 700;
}
h2, #values{
    color: hsl(14, 45%, 36%);
}